---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogSeries from "../../components/BlogSeries.astro";

export async function getStaticPaths({ paginate }) {
  const allSeries = await getCollection("series");

  return paginate(allSeries, { pageSize: 2 });
}

const { page } = Astro.props;
const pageTitle = "My Astro Learning Series";
---

<BaseLayout
  pageTitle={`${pageTitle}${page.currentPage === 1 ? "" : " - Page " + page.currentPage}`}
>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      page.data.map((series) => (
        <BlogSeries url={`/series/${series.slug}/`} title={series.data.title} />
      ))
    }
  </ul>
  {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
  {page.url.next ? <a href={page.url.next}>Next</a> : null}
</BaseLayout>
